In [46]:
#Import dependencies needed
import pandas as pd
import os
from splinter import Browser
from bs4 import BeautifulSoup as bs

In [47]:
#pointing to the directory where chromedriver exists
executable_path = {'executable_path': "C:/Users/giffo/Downloads/chromedriver_win32/chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless = False)

In [48]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [49]:
html = browser.html
soup = bs(html, 'html.parser')

In [50]:
content_title = soup.find('div', class_='content_title').find('a')
content_title

In [51]:
news_title = content_title.text.strip()
news_title

"NASA's Briefcase-Size MarCO Satellite Picks Up Honors"

In [52]:
article_teaser_body = soup.find('div', class_='article_teaser_body')
article_teaser_body

In [53]:
news_p=article_teaser_body.text.strip()
news_p

'The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.'

In [54]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [55]:
baseurl = 'https://www.jpl.nasa.gov'

In [56]:
html2 = browser.html
soup2 = bs(html2, 'html.parser')

In [57]:
button = soup2.find('a', class_='button fancybox')
button

<a class="button fancybox" data-description="This artist's concept shows a hypothetical 'rejuvenated' planet,a gas giant that has reclaimed its youthful infrared glow. NASA's Spitzer Space Telescope found tentative evidence for one such planet around a dead star, or white dwarf, called PG 0010+280." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA19346_ip.jpg" data-link="/spaceimages/details.php?id=PIA19346" data-title="Hypothetical 'Rejuvenated' Planets (Artist's Concept)" id="full_image">
					FULL IMAGE
				  </a>

In [58]:
image_url = soup2.find('a', {'id': 'full_image', 'data-fancybox-href': True}).get('data-fancybox-href')
image_url

'/spaceimages/images/mediumsize/PIA19346_ip.jpg'

In [59]:
featured_image_url = baseurl + image_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19346_ip.jpg'

In [60]:
url3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url3)

In [61]:
html3 = browser.html
soup3 = bs(html3, 'html.parser')

In [62]:
tweet = soup3.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')

In [63]:
mars_weather = tweet.text.strip()
mars_weather

'InSight sol 357 (2019-11-28) low -101.0ºC (-149.8ºF) high -20.8ºC (-5.4ºF)\nwinds from the SSE at 5.3 m/s (11.8 mph) gusting to 20.7 m/s (46.3 mph)\npressure at 6.70 hPapic.twitter.com/xTk37j1IsN'

In [64]:
url4 = 'https://space-facts.com/mars/'
tables = pd.read_html(url4)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [65]:
df = tables[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [66]:
print(df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [71]:
url5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url5)

In [72]:
html5 = browser.html
soup5 = bs(html5, 'html.parser')

In [73]:
one = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'
two = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'
three = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'
four = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'

In [74]:
links = [one, two, three, four]

In [75]:
a = soup5.find_all('h3')
a

[]

In [76]:
descriptions = [h3.text.strip() for h3 in a]
descriptions

[]

In [77]:
hemisphere_image_urls = [{'title': description, 'img_url': link} for description, link in zip(descriptions,links)]
hemisphere_image_urls

[]